:host{
  display: block;
  margin: 5px 0px;
  padding: 0px 5px;
  width: 100%;
  }

.items-container{
  display: flex;
  align-items: center;
  justify-content: start;
  font-size: 1rem;
  font-weight: 500;
  margin: 15px 0px;

  .item-position{
    width: 60px;
    margin-right: 10px;


  }
  .item-poster{
    height: 120px;
    width: 80px;
  }

  .item-title{
    padding: 0px 20px;
    width: 100%;

  }
}

