:host{
 // border: 1px black solid;
  display: block;
  margin: 5px 0px;
  padding: 0px 5px;
  width: 100%;

  }

// &:hover{
//   border: 5px wheat solid;
//   background-color:  rgb(14, 2, 65);
//   color: wheat;



