:host{
 // border: 1px black solid;
  display: block;
  margin: 5px 0px;
  padding: 0px 5px;
  width: 100%;
  }

.items-container{
  display: flex;
  align-items: center;
  justify-content: start;
  font-size: 1.2rem;
  font-weight: 500;
  margin: 15px 0px;

  .item-position{
    width: 60px;
    margin-right: 10px;


  }
  .item-poster{
    height: 170px;
    width: 100px;
  }

  .item-title{
    padding: 0px 20px;
    width: 100%;

  }
}

