
//Estilos NAVBAR

.navbar {
  background-color: rgb(14, 2, 65) !important;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  //margin-bottom: 10vh;
  border-bottom: 5px wheat solid;

      #logo{
        width:40px;
        height:40px;
        margin: 0px 2vw 0px 1vw;
      }

      .nombre-brand {
        font-size: 1.5rem;
        color: aliceblue !important;
        font-weight: 500;
        font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
          "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
      }

      img {

        //  color:wheat !important;
          width: 40px;
          display: flex;

      }

      .navbar-nav {

        .username{
          color: wheat !important;
          text-decoration: none;
          font-size: 1rem;
          font-weight: 500;
          margin: 0 2vw;
          padding: 0px 1.5vw;
        }

        .nav-link {
          color: aliceblue !important;
          text-decoration: none;
          font-size: 1rem;
          font-weight: 500;
          margin: 0 2vw;
          padding: 0px 1.5vw;


          &:hover {
            transition: all 0.5s;
            color: wheat !important;
          }

        }
      }


}
