<footer id="contacto" class="container-fluid d-flex flex-wrap justify-content-between align-items-center ">
  <div class="col-md-6 d-flex align-items-center">
    <img id="logo" src="/assets/movie.png" alt="" width="40" height="40" class="d-inline-block align-text-top">
    <span class="nombre-brand px-2">Peliteka</span>
    <span class="text-muted">&copy; 2021 Company, Inc.</span>
  </div>

  <ul class="nav col-md-6 d-flex justify-content-end ">
    <li class="ms-3"><a class="fa fa-facebook" href="https://www.facebook.com/"></a></li>
    <li class="ms-3"><a class="fa fa-twitter" href="#https://twitter.com/"></a></li>
    <li class="ms-3"><a class="fa fa-instagram" href="#https://www.instagram.com/"></a></li>
  </ul>

</footer>
