:host{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
#contacto {
  background-color: rgb(14, 2, 65) !important;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin-top: 5vh;
  padding: 2vh 0vw;
  border-top: 5px wheat solid;
  display: flex;
  flex-wrap: wrap;
 justify-content: space-between;
 align-items: center;
 height: 50px;

  .nombre-brand {
    font-size: 1rem;
    color: aliceblue !important;
    font-weight: 500;
    padding: 0px 20px;
  }
  .text-muted {
    color: wheat !important;
    
  }

}
