<div id="cartelera"class="conteiner">
  <h1 class="pb-3" style="text-align: center;">Cartelera</h1>

  <div class="movie-container d-flex flex-wrap justify-content-center">
    <div *ngFor="let movie of movies" class="card p-1 m-4" style="width: 18rem;">
      <img [src]="movie.image.url" class="card-img-top" style="height: 350px;" alt="">
      <div class="card-body">
        <h5 class="card-title">{{ movie.title }}</h5>
        <p class="card-text" style="height: 150px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, accusantium? Amet iste illo, labore repellendus </p>
        <a class="btn btn-primary d-block" (click)="navigatetoDetail(movie.id)"> + Ver Detalle</a>
      </div>
    </div>
  </div>
  <!-- <hr class="my-5" style=" color:violet; height: 10px;"> -->
</div>
