<div id="register" class="container d-flex align align-items-center flex-column mt-5">


  <img class="mb-4" src="../assets/movie.png" alt="" width="100" height="100">
  <h1 class="h3 mb-3 fw-normal">Registro Nuevo Usuario</h1>
  <form [formGroup]="registroForm" class="m-3 col-lg-6">

    <div class="item-form my-4">
      <label for="nombre">Nombre:</label>
      <input type="text" id="nombre" placeholder="Nombre" class="form-control" formControlName="nombre">
      <div *ngIf="nombreControl.invalid && (nombreControl.dirty || nombreControl.touched)" class="alert alert-danger">
        <div *ngIf="nombreControl.hasError('required')">
          El nombre es un campo requerido.
        </div>
        <div *ngIf="nombreControl.hasError('maxlength')">
          La cantidad de caracteres no puede ser mayor que 25.
        </div>
      </div>
    </div>

    <div class="item-form my-4">
      <label for="apellido">Apellido:</label>
      <input type="text" id="apellido" placeholder="Apellido" class="form-control" formControlName="apellido">
      <div *ngIf="apellidoControl.invalid && (apellidoControl.dirty || apellidoControl.touched)"
        class="alert alert-danger">
        <div *ngIf="apellidoControl.hasError('required')">
          El apellido es requerido.
        </div>
        <div *ngIf="apellidoControl.hasError('maxlength')">
          La cantidad de caracteres no puede ser mayor que 25.
        </div>
      </div>
    </div>

    <div class="item-form my-4">
      <label for="movil">Movil:</label>
      <input type="text" id="movil" placeholder="+54 341 123456" class="form-control" formControlName="movil">
      <div *ngIf="movilControl.invalid && (movilControl.dirty || movilControl.touched)" class="alert alert-danger">
        <div *ngIf="movilControl.hasError('required')">
          El movil es requerido.
        </div>
        <div *ngIf="movilControl.hasError('pattern')">
          El numero ingresado no es un numero valido
        </div>
      </div>
    </div>

    <div class="item-form my-4">
      <label for="email">Email:</label>
      <input type="text" id="email" placeholder="example@dominio.com" class="form-control" formControlName="email">
      <div *ngIf="emailControl.invalid && (emailControl.dirty || emailControl.touched)" class="alert alert-danger">
        <div *ngIf="emailControl.hasError('required')">
          El email es requerido
        </div>
        <div *ngIf="emailControl.hasError('email')">
          El mail ingresado no cumple un formato válido de email. (ej: nombre@google.com)
        </div>
      </div>
    </div>

    <div class="item-form my-4">
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" class="form-control" placeholder="Password"
        formControlName="password">
      <div *ngIf="passwordControl.invalid && (passwordControl.dirty || passwordControl.touched)"
        class="alert alert-danger">
        <div *ngIf="passwordControl.hasError('required')">
          La contraseña es requerida
        </div>
        <div *ngIf="passwordControl.hasError('minlength')">
          La contraseña debe tener al menos 8 caracteres
        </div>
      </div>
    </div>

    <!-- <div class="item-form my-4">
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" class="form-control" placeholder="Password" formControlName="password2">
        <div *ngIf="passwordControl.invalid && (passwordControl.dirty || passwordControl.touched) && (passwordControl.value === passwordControl.value)"
          class="alert alert-danger">
          <div *ngIf="passwordControl.hasError('required')">
            La contraseña es requerida
          </div>
          <div *ngIf="passwordControl.hasError('minlength')">
            La contraseña debe tener al menos 8 caracteres
          </div>
      </div>

    </div> -->

    <button class="w-50 btn btn-lg btn-primary d-block mx-auto" [disabled]="registroForm.invalid"
      (click)="registroUser()">Registrarme</button>


  </form>

</div>
<!-- <hr class="my-5" style= " color:violet; height: 10px;"> -->

}
