<div id="lista" class="container-fluid">

  <div class="row">

    <div class="col-4" id="list-movies">
      <h2 class="pb-4">Listado de Peliculas</h2>
      <app-adm-movie-item [movie]="movieempty" [index]="0">
      </app-adm-movie-item>
      <app-adm-movie-item *ngFor="let movie of movies; let i = index" [movie]=movie [index]=i+1>
      </app-adm-movie-item>
    </div>

    <div class="col-8 abm-container">
      <h2>Seccion Administracion de Peliculas - ABM</h2>

      <div class="form-container pt-5">

        <form class="">
          <div class="item-form my-3">
            <mat-form-field class="inputs" appearance="fill">
              <mat-label for="nombre">Id</mat-label>
              <!-- <input matInput autocomplete="off" class="data-entry" type="text" id="id" name="id"
                placeholder="id" class="form-control"> -->
              <input matInput disabled autocomplete="off" value="autocomplete" type="text" id="id" name="id"
                placeholder="id" class="form-control">
            </mat-form-field>
          </div>

          <div class="item-form my-3">
            <mat-form-field class="inputs" appearance="fill">
              <mat-label for="nombre">Titulo</mat-label>
              <input matInput autocomplete="off" type="text" id="title" name="title" placeholder="Titulo"
                class="form-control">
            </mat-form-field>
          </div>

          <div class="item-form my-3">
            <mat-form-field class="inputs" appearance="fill">
              <mat-label for="nombre">Poster Path</mat-label>
              <input matInput autocomplete="off" type="text" id="poster_path" name="poster_path"
                placeholder="Poster Path" class="form-control">
            </mat-form-field>
          </div>

          <div class="item-form my-3">
            <mat-form-field class="inputs" appearance="fill">
              <mat-label for="nombre">Popularidad</mat-label>
              <input matInput autocomplete="off" type="text" id="vote_average" name="popularity" placeholder="Popularidad"
                class="form-control">
            </mat-form-field>
          </div>

          <div class="item-form my-3">
            <mat-form-field class="inputs" appearance="fill">
              <mat-label for="nombre">Fecha Lanzamiento</mat-label>
              <input matInput autocomplete="off" type="date" id="release_date"  name="release_date" placeholder=""
                class="form-control">
              </mat-form-field>
          </div>

          <div class="item-form my-3">
            <mat-form-field class="inputs" appearance="fill">
              <textarea matInput autocomplete="off" id="overview" name="overview" placeholder="Descripcion"
                class="form-control"></textarea>
            </mat-form-field>
          </div>

          <div class="d-flex justify-content-center">
            <button type="button" class="btn btn-success m-5" style="font-size: 1.5rem; ">Agregar</button>
            <button type="button" class="btn btn-secondary m-5" style="font-size: 1.5rem; ">Modificar</button>
            <button type="button" class="btn btn-danger m-5 " style="font-size: 1.5rem; ">Eliminar</button>
          </div>

        </form>
      </div>
    </div>

  </div>



  <!-- adult: boolean;
  backdrop_path: string;          USADOS EN EL DETAIL
                                  id: number;
  genre_ids: number[],
  original_language: string;
  original_title: string;
                                  overview: string;
  popularity: number;
                                  poster_path: string;
                                  release_date: string;
                                  title: string;
  video: boolean;
                                  vote_average: number;
  vote_count: number; -->
