
// #control-up{
//   display: block;
//   position: fixed;
//   bottom: 5;
//   right: 5;
// }

.selected {
  border: 5px wheat solid;
  background-color: var(--colorback);
  color: wheat;

}

#lista {
  padding: 20vh 0px 20vh 5vw;


  #list-items-movies{

    .btn-addMovie{
      width: 100%;
      font-size: 1.1rem;
      padding: 10px;
      margin: 50px 0px 30px 0px;

    }
  }

  h2{
    font-size: 1.5rem;
    text-align: center;
  }

  .edition-movie-container {
    display: block;
    text-align: center;
    justify-content: center;

    .form-container {
      display: block;
      padding: 0px auto;
      width: 100%;

      .btn-actions{
        font-size: 1.3rem;
        width: 20%;
        padding: 10px;
        margin: 0px 35px;

      }

      mat-form-field {
        width: 70%;
        display: block;
        margin: 10px auto;
        font-size: 1rem;
        font-weight: bold;

        input {
          font-size: 1rem;
          font-weight: 500;
        }

        #overview {
          height: 100px;
          font-size: 1rem;
          font-weight: 500;
        }

      }
    }
  }
}
