<div class="container">
  <h1 class="my-5">Info Section</h1>


  <section class="py-2">
    <div class="container my-3">
        <div class="row gx-5 align-items-center">
            <div class="col-md-6">
              <img class="card-img-top mb-5 mb-md-0" src="https://m.media-amazon.com/images/M/MV5BY2FmZTY5YTktOWRlYy00NmIyLWE0ZmQtZDg2YjlmMzczZDZiXkEyXkFqcGdeQXVyNjg4NzAyOTA@._V1_.jpg" alt="#Imagen" />
            </div>
            <div class="col-md-6">
                <h1 class="display-5 fw-bolder">#Título</h1>
                <div class="fs-5 mb-5">
                    <span>Categoria: #Categoria</span>
                </div>
                <h3>Descripcion</h3>
                <p class="">(#Descripcion) Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium at dolorem quidem modi. Nam sequi</p>
                <div class="d-flex">
                    <input class="form-control text-center me-3" id="inputQuantity" type="num" value="1" style="max-width: 3rem" />
                    <button class="btn btn-outline-dark flex-shrink-0" type="button">
                        <i class="bi-cart-fill me-1"></i>
                        Add to cart
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
</div>
<hr class="my-5" style=" color:violet; height: 10px;">
