<div id="info" class="container">
  <h1 class="my-4 text-center">Info Section</h1>


  <section class="py-2">
    <div class="container my-3">
        <div class="row gx-5 align-items-center">
            <div class="col-md-6">
              <img style=" display:block; width: 60%; margin: 0px auto;" class="card-img-top mb-5 mb-md-0" [src]= "urlPath+movie.poster_path" alt="#Imagen" />
            </div>
            <div class="col-md-6">
                <h1 class="display-5 fw-bolder mb-5">{{movie.title}}</h1>
                <h3>Descripcion</h3>
                <p class="">{{movie.overview}}</p>
                <h3>Duracion</h3>
                <p class="">{{movie.runtime}} minutos</p>
                <h3>Fecha Lanzamiento</h3>
                <p class="">{{movie.release_date}}</p>
                <div class="d-flex mt-5">
                    <!-- <input class="form-control text-center me-3" id="inputQuantity" type="num" value="1" style="max-width: 3rem" /> -->
                    <button class="btn btn-primary flex-shrink-0" type="button" style="height: 60px; width: 300px;" (click)="addMovie(movie)">
                        <i class="bi-cart-fill me-1" ></i>
                        Add to Cart
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
</div>
<!-- <hr class="my-5" style=" color:violet; height: 10px;"> -->
